.completed {
  text-decoration: line-through;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  flex: 0 1 25%;
}
