@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-mali {
  font-family: "Mali", cursive;
}

/* preloader */

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #ffffff;
  transition: 0.3s all ease;
}

.preloader.loaded {
  opacity: 0;
  visibility: hidden;
}

.preloader-body {
  text-align: center;
}

.preloader-body .logo-load {
  position: relative;
  top: 10px;
}

.cssload-container {
  width: 100%;
  height: 36px;
  text-align: center;
}

.cssload-speeding-wheel {
  width: 36px;
  height: 36px;
  margin: 0 auto;
  border: 3px solid #41a451;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  animation: cssload-spin 0.88s infinite linear;
}

@-webkit-keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
  }
}

/* page */
.page {
  height: 725px;
  max-width: 100%;
}

.page-2 {
  height: max-content;
}

/* heading header */
.rd-navbar-brand .icon {
  font-size: 30px;
  color: black;
}

.rd-navbar-brand .icon:hover {
  color: #dc143c;
  cursor: pointer;
}

.heading-header select {
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.heading-header .address:hover,
.heading-header .phone:hover {
  color: #41a451;
  cursor: pointer;
}

.heading-header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  max-width: 100%;
}

.heading-header .icon {
  font-size: 15px;
  color: #41a451;
}

.i-per {
  font-size: 25px;
  color: #41a451;
  cursor: pointer;
}

/* header */
header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* modal sign in */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 360px;
}

.modal-content img {
  width: 127px;
  height: 42px;
  margin: 0 auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal sign up */

/* The Modal (background) */
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content 2 */
.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 360px;
  border-radius: 10px;
}

.modal-content2 img {
  width: 127px;
  height: 42px;
  margin: 0 auto;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal search */

/* The Modal (background) */
.modal3 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content 3 */
.modal-content3 {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 350px;
  border-radius: 10px;
}

.search-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 50px;
  height: 50px;
  background: #f5ab1e;
  border: 1px solid #f5ab1e;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.search-icon i {
  font-size: 22px;
  color: white;
}

.search-icon i:hover {
  color: #000;
}

.search-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 50px;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #f5ab1e;
}

.search-box {
  margin: 0 auto;
  max-width: fit-content;
}

.close3 {
  color: #aaaaaa;
  font-size: 20px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal menu */

/* The Modal (background) */
.modal4 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content 4 */
.modal-content4 {
  left: 0;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 100%;
}

/* The Close Button */
.close4 {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* form validate sign in/sign up */

.form {
  width: 300px;
  min-height: 100px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  margin-top: 24px;
  margin-bottom: 16px;
  align-self: center;
  margin: 0 auto;
}
.form .heading {
  font-size: 30px;
  font-weight: 500;
}
.form .desc {
  text-align: center;
  color: #636d77;
  font-size: 1 rem;
  font-weight: lighter;
  line-height: 2.4rem;
  font-weight: 300;
}

.form-group {
  font-family: "Poppins", sans-serif;
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1rem;
}

.form-control {
  font-family: "Poppins", sans-serif;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  font-family: "Poppins", sans-serif;
  outline: none;
  background-color: #41a451;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 16px;
}

.form-submit:hover {
  background-color: #41a451;
}

.spacer {
  margin-top: 36px;
}

.link {
  text-decoration: none;
  color: gray;
}

.reg {
  color: orange;
  cursor: pointer;
}

.reg:hover {
  text-decoration: underline;
}

.loginWith {
  width: 100px;
  margin: 0 auto;
}

.loginWith .icon {
  font-size: 25px;
  color: orange;
  cursor: pointer;
}

/* narbar */

.navigation {
  background-color: white;
  max-width: 100%;
  width: 100%;
}

.rd-navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
}

.rd-nav-item {
  display: inline-block;
  padding: 0 10px;
  max-width: fit-content;
}

.rd-nav-link {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 30px 28px 25px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
.rd-nav-link:hover {
  color: #dc143c;
  text-decoration: none;
}

.rd-nav-link:before,
.rd-nav-link:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: 0px;
  background: #dc143c;
  border-radius: 5px;
}

.rd-nav-link:before {
  left: 0;
}
.rd-nav-link:after {
  right: 0;
  background: #dc143c;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.rd-nav-link:hover:before {
  background: #dc143c;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.rd-nav-link:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.page-header {
  transition: top 0.3s;
  max-width: 100%;
}

.rd-nav-item.active a {
  color: #dc143c;
}

.icon {
  color: #777777;
  font-size: 15px;
}

.i {
  font-size: 25px;
}

.i:hover {
  color: #dc143c;
}

.number {
  color: #dc143c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 7px 2px;
  gap: 10px;
  font-size: 12.5px;
  position: absolute;
  width: 15px;
  height: 17px;
  left: 22px;
  top: 0px;
  border: 1.5px solid #dc143c;
  border-radius: 10px;
}

.phone,
.address,
.user,
.select,
.cart,
.search {
  cursor: pointer;
}

.phone:hover,
.address:hover,
.user:hover,
.select:hover {
  color: #dc143c;
}

/* footer */

footer {
  width: 100%;
  height: max-content;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-gray-fo {
  color: #808080;
}

.gird-footer1 p {
  font-style: 16px;
  font-weight: 400;
}

.line {
  width: 260px;
  border-bottom: 2px solid gray;
  margin: 0 auto;
  height: 0;
  margin-bottom: 10px;
}

.gird-footer1 form {
  height: max-content;
}

.gird-footer1 form .form-group {
  height: max-content;
}

.gird-footer1 form .form-submit {
  height: max-content;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  text-transform: uppercase;
  background-color: white;
  color: #000;
  font-size: 16px;
}

.gird-footer1 form .form-submit:hover {
  color: white;
  background-color: #f5ab1e;
  transition: all 0.3s linear;
}

.gird-footer1 form .form-control {
  height: max-content;
  border-radius: 0px;
  background-color: #41403e;
  color: white !important;
}

.form-footer {
  padding: 0px;
  height: max-content;
}

.gird-footer1 i:hover {
  color: #f5ab1e;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .ft-3 {
    margin-top: 40px;
  }

  .ft-2 {
    margin-top: 8.5px;
  }

  .ft-2 p {
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .ft-3 {
    margin-top: 8.5px;
  }

  .ft-2 {
    margin-top: 8.5px;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}

.back-to-top {
  background-color: #41a451;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  right: 1.5%;
  bottom: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  opacity: 0.5;
}

.back-to-top i {
  font-size: 25px;
}

.back-to-top:hover {
  background-color: #f5ab1e;
  transition: all 0.2s linear;
  opacity: 1;
}

.text-orange-fo {
  color: orange;
}

.fw-400 {
  font-weight: 400;
}

.fs-24 {
  font-size: 24px;
}

/* animate scroll */
.animate__animated.animate__bounce {
  --animate-duration: 3s;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 1s;
}

.animate__animated.animate__fadeInRight {
  --animate-duration: 1s;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 1s;
}

.animate__animated.animate__backInLeft {
  --animate-duration: 1s;
}

.animate__animated.animate__flash {
  --animate-duration: 1s;
}

/* slider */

.Advance-Slider {
  float: left;
  width: 100%;
  overflow: hidden;
  height: 636px;
  margin-top: 89px;
}

.Advance-Slider .info {
  margin-top: -10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Advance-Slider button.slick-arrow {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  height: 50px;
  width: 50px;
  background: #fff;
  z-index: 99999;
  border: none;
  margin: auto;
  font-size: 0;
  text-align: center;
  outline: none;
  cursor: pointer;
}
.Advance-Slider .img-fill {
  position: relative;
  height: 100%;
}
.Advance-Slider .img-fill img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: myMove 10s linear infinite;
}
.Advance-Slider .item {
  height: 100vh;
  overflow: hidden;
  outline: none;
}
.Advance-Slider button.slick-next.slick-arrow {
  right: 0;
  left: auto;
}
.Advance-Slider button.slick-arrow:before {
  content: "\f104";
  top: 0;
  left: 0;
  margin: auto;
  font-family: fontawesome;
  font-size: 18px;
}
.Advance-Slider button.slick-next.slick-arrow:before {
  transform: scaleX(-1);
  display: block;
}
.Advance-Slider .img-fill:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #151515;
  opacity: 0.5;
}

.Advance-Slider ul.slick-dots {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.Advance-Slider ul.slick-dots li {
  display: inline-block;
  height: auto;
  padding: 0 10px;
  line-height: 0px;
}
.Advance-Slider ul.slick-dots li button {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #fff;
  border: none;
  font-size: 0px;
  padding: 0px;
  opacity: 0.5;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.Advance-Slider ul.slick-dots li.slick-active button {
  opacity: 1;
}
.Advance-Slider button.slick-arrow {
  perspective: 360px;
}
.Advance-Slider button.slick-arrow .thumb {
  position: absolute;
  height: 100px;
  width: 150px;
  left: 100%;
  top: -28px;
  transform-origin: 0% 0%;
  transform: rotate3d(1, 0, 0, 90deg);
}
.Advance-Slider button.slick-arrow .thumb img {
  height: 100%;
  width: 100%;
}

.Advance-Slider button.slick-next .thumb {
  left: auto;
  right: 100%;
}
.Advance-Slider button.slick-prev.hover-out .thumb,
.Advance-Slider button.slick-prev .thumb {
  animation: out-left 300ms ease 0ms 1 forwards;
}
.Advance-Slider button.slick-prev.hover-in .thumb {
  animation: in-left 300ms ease 0ms 1 forwards;
}
.Advance-Slider button.slick-next.hover-out .thumb,
.Advance-Slider button.slick-next .thumb {
  animation: out-right 300ms ease 0ms 1 forwards;
  transform-origin: 100% 50%;
}
.Advance-Slider button.slick-next.hover-in .thumb {
  animation: in-right 300ms ease 0ms 1 forwards;
}

.Advance-Slider button.slick-prev:hover {
  transform: translateX(-100%);
}
.Advance-Slider button.slick-prev {
  transition: all 0.3s ease;
}
.Advance-Slider button.slick-next:hover {
  transform: translateX(100%);
}
.Advance-Slider button.slick-next {
  transition: all 0.3s ease;
}
.Advance-Slider ul.slick-dots li button img {
  height: 0;
  width: 20px;
  top: 0;
  object-fit: cover;
  transition: height 0.2s ease 0.2s, width 0.2s ease 0s;
  position: relative;
  left: -50%;
}
.Advance-Slider ul.slick-dots li button a {
  position: absolute;
  height: 80px;
  bottom: calc(100%);
  width: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.2s ease 0.2s;
  padding-bottom: 10px;
}
.Advance-Slider ul.slick-dots li button {
  position: relative;
  display: flex;
  justify-content: center;
}

.Advance-Slider ul.slick-dots li button:hover img {
  height: 80px;
  width: 140px;
  transition: height 0.2s ease, width 0.2s ease 0.2s;
}
.Advance-Slider ul.slick-dots li button:hover a {
  width: 140px;
  transition: all 0.3s ease 0s;
}
.Advance-Slider ul.slick-dots li button:hover {
  opacity: 1;
}
.Advance-Slider ul.slick-dots li button:before {
  content: "";
  bottom: calc(100% + -10px);
  left: 7px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0px;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
  opacity: 0;
  transition: 0.3s ease 350ms;
}
.Advance-Slider ul.slick-dots li button:hover:before {
  opacity: 1;
  transition: 0.3s ease 0s;
}
.Advance-Slider .item.slick-active {
  animation: Slick-FastSwipeIn 1s both;
}

.Advance-Slider .item .contain-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Advance-Slider .item .contain-wrapper .dots-contain {
  display: none;
}
.Advance-Slider .item h3 {
  margin: 0px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 48px;
  text-align: center;
}
.Advance-Slider .item {
  color: #fff;
}
.Advance-Slider .item h5 {
  font-weight: 300;
  padding: 10px 0 0;
  margin-top: 16px;
  text-transform: capitalize;
  text-align: left;
  width: 300px;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
}
.Advance-Slider .item .contain-wrapper .info {
  max-width: 1200px;
}

.Advance-Slider .item h3 {
  animation: fadeOutRight 1s both;
}
.Advance-Slider .item.slick-active h3 {
  animation: fadeInDown 1s both 1s;
}
.Advance-Slider .item h5 {
  animation: fadeOutLeft 1s both;
}
.Advance-Slider .item.slick-active h5 {
  animation: fadeInLeft 1s both 1.5s;
}

@keyframes myMove {
  from {
    transform: scale(1, 1);
    transform-origin: 50% 50%;
  }
  to {
    transform: scale(1.8, 1.9);
    transform-origin: 50% 0%;
  }
}
@keyframes Slick-FastSwipeIn {
  0% {
    transform: rotate3d(0, 1, 0, 150deg) scale(0) perspective(300px);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg) scale(1) perspective(300px);
  }
}

@keyframes in-left {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes out-left {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 86deg);
    transform: rotate3d(0, 1, 0, 86deg);
  }
}
@keyframes in-right {
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
    transform: rotate3d(0, -1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes out-right {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, -1, 0, 86deg);
    transform: rotate3d(0, -1, 0, 86deg);
  }
}

.Advance-Slider button.slick-prev {
  display: none !important;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  position: absolute;
  z-index: 1;
  margin-left: 1%;
}

.Advance-Slider button.slick-next {
  display: none !important;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  z-index: 1;
  margin-right: 1%;
}

.btn-style1 {
  position: relative;
  border-color: #ff4500;
  color: #ff4500;
  overflow: hidden;
}
.btn-style1::before {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #ff4500;
  transform: rotateZ(-45deg) translate(-50%, -50%);
  transition: all 0.3s;
  content: "";
  z-index: -1;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.btn-style1:hover {
  color: #fff;
}
.btn-style1:hover::before {
  width: 100%;
  top: 0;
  transform: none;
}

.click-btn {
  display: flex;
  width: 120px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  line-height: 35px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #ff4500;
  text-decoration: none;
  transition: all 0.35s;
}

.Advance-Slider .item .btn-slider {
  padding-top: 32px;
  animation: fadeInDown 1s both 1s;
}

.Advance-Slider .item.slick-active .btn-slider {
  animation: fadeInUp 1s both 1.5s;
}

@media screen and (max-width: 576px) {
  .Advance-Slider button.slick-prev {
    display: none;
  }

  .Advance-Slider button.slick-next {
    display: none;
  }
}

/* reponsive */

@media screen and (min-width: 576px) {
  /* slider */
  .Advance-Slider button.slick-prev {
    display: none;
  }

  .Advance-Slider button.slick-next {
    display: none;
  }

  .Advance-Slider .item h3 {
    font-size: 48px;
    text-align: center;
  }

  .Advance-Slider .item h5 {
    font-size: 16px;
    text-align: center;
    width: 500px;
  }
}

@media screen and (min-width: 768px) {
  /* slider */
  .Advance-Slider button.slick-prev {
    display: none;
  }

  .Advance-Slider button.slick-next {
    display: none;
  }

  .Advance-Slider .item h3 {
    font-size: 48px;
    text-align: center;
  }

  .Advance-Slider .item h5 {
    font-size: 16px;
    text-align: center;
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  /* slider */
  .Advance-Slider button.slick-prev {
    display: block;
  }

  .Advance-Slider button.slick-next {
    display: block;
  }

  .Advance-Slider .item h3 {
    font-size: 64px;
    text-align: center;
  }

  .Advance-Slider .item h5 {
    font-size: 20px;
    text-align: center;
    width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  /* slider */
  .Advance-Slider button.slick-prev {
    display: block !important;
  }

  .Advance-Slider button.slick-next {
    display: block !important;
  }

  .Advance-Slider .item h3 {
    font-size: 84px;
    text-align: left;
  }

  .Advance-Slider .item h5 {
    font-size: 20px;
    text-align: left;
  }
}

/* offer */

.section-offer {
  height: max-content;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.offer {
  width: max-content;
  height: max-content;
  overflow: clip;
  border-radius: 15px;
}

.content-offer {
  top: 35px;
  left: 35px;
  height: 80%;
  width: max-content;
}

.timeDown {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 19px;
  width: max-content;
  height: 52px;
  border: 2px solid #006400;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: #006400;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.best {
  font-size: 24px;
  font-weight: 400;
}

.coconut {
  max-width: 100px;
  font-size: 32px;
  font-weight: 500;
}

.coconut2 {
  max-width: 290px;
  font-size: 32px;
  font-weight: 500;
}

.shopnow {
  font-size: 24px;
  font-weight: 400;
  color: #006400;
  border-bottom: 2px solid #006400;
  line-height: 2;
  max-width: max-content;
  padding: 5px;
}

.shopnow:hover {
  border: 2px solid #006400;
  cursor: pointer;
}

.offer img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.list-offer {
  width: max-content;
  margin: 0 auto;
}

.offer img {
  width: 360px;
  height: 350px;
  object-fit: cover;
}

@media screen and (min-width: 576px) {
  .offer img {
    width: 510px;
  }
}

@media screen and (min-width: 768px) {
  .offer img {
    width: 650px;
  }
}

@media screen and (min-width: 992px) {
  .offer img {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .offer img {
    width: 510px;
  }
}

@media screen and (min-width: 1400px) {
  .offer img {
    width: 600px;
  }
}

/* service */
.section-service {
  height: max-content;
  margin-top: 40px;
  padding: 20px;
}

.service {
  width: 100%;
  margin: 0 auto;
  width: 100%;
}

.img-service {
  margin: 0 auto;
}

.img-service img {
  width: 280px;
  height: 290px;
}

.title-service {
  font-size: 16px;
  font-weight: 600;
}

.content-service {
  font-size: 12px;
  font-weight: 400;
  width: 200px;
  text-align: left;
}

.icon-service img {
  margin: 0 auto;
}

.icon-service {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #62a403;
  overflow: hidden;
  padding-top: 10px;
}

.icon-service:hover {
  border: 3px solid orange;
}

.list-service-1 {
  width: 100%;
}

.list-service-2 {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .content-service {
  }
  .title-service {
  }
  .box-sr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .list-service-1 {
    width: max-content;
  }
  .list-service-2 {
    width: max-content;
  }
}

@media screen and (min-width: 768px) {
  .title-service {
    width: 100px;
  }
  .content-service {
    width: 100px;
  }
  .img-service img {
    width: 190px;
    height: 200px;
  }
  .box-sr {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
  }
  .img-service {
    width: max-content;
  }
  .ct-sr {
    width: max-content;
  }
  .service {
    padding: 0px 40px 0px 40px;
  }
}

@media screen and (min-width: 992px) {
  .title-service {
    width: max-content;
  }
  .content-service {
    width: 200px;
  }
  .service {
    padding: 0px 20px 0px 20px;
  }
  .ml-20 {
    margin-left: 20px;
  }

  .mr-20 {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .ml-20 {
    margin-left: 40px;
  }

  .mr-20 {
    margin-right: 40px;
  }
  .img-service img {
    width: 340px;
    height: 350px;
  }
  .text-right {
    text-align: right;
  }
  .title-service {
    font-size: 20px;
    font-weight: 600;
  }
}

@media screen and (min-width: 1400px) {
  .content-service {
    width: 300px;
    font-size: 16px;
    font-family: "poppins";
  }
  .img-service img {
    width: 380px;
    height: 400px;
  }
}

/* list-product */

.big-img-product {
  width: max-content;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

.big-img-product .img-big {
  width: 344px;
  height: 431px;
}

.list-product {
  width: 100%;
}

.product {
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 22px;
  gap: 10px;
  width: 274px;
  height: 347px;
  border-radius: 15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.border-pink {
  border: 5px solid #ecdcf6;
}

.border-green {
  border: 5px solid #e6f2da;
}

.border-yel {
  border: 5px solid #f5efbd;
}

.border-pink-light {
  border: 5px solid #f8caca;
}

.border-blur {
  border: 5px solid #dadcf1;
}

.title-product {
  font-size: 20px;
  font-weight: 500;
}

.price-product {
  font-size: 20px;
  font-weight: 300;
}

.add-cart {
  font-size: 18px;
  width: max-content;
  height: max-content;
  display: none;
}

.product:hover img {
  filter: grayscale(70%);
}

.product:hover .add-cart {
  display: block;
}

/* button */
.button {
  width: max-content;
  padding: 15px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}

.button-2 {
  color: #fff;
  border: 3px solid orange;
  background-image: -webkit-linear-gradient(30deg, orange 50%, transparent 50%);
  background-image: linear-gradient(30deg, orange 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  color: #ff8c00;
  transition: all 0.3s linear;
}

.img-abs {
  left: 0px;
  right: 0px;
  margin: 0px auto;
  top: 20%;
}

.text-big-img {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.title-pig-img {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.or {
  font-size: 36px;
  font-weight: 700;
  color: #927f4c;
}

.or2 {
  font-size: 40px;
  font-weight: 700;
  color: #006400;
}

.img-pr {
  margin-top: 0px;
  margin-left: 0px;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .big-img-product .img-big {
    width: 570px;
    height: 752px;
  }
  .list-product {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
  .list-product {
    width: 100%;
    margin: 0 auto;
  }
}

.product-list {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pr-1 {
  margin-top: 200px;
  width: 100%;
  height: auto;
  margin-left: 10px;
  border-radius: 15px;
}

/* sale */
.section-sale {
  width: 100%;
  height: max-content;
}

.sale {
  width: 100%;
  height: max-content;
}

.sale img {
  width: 100%;
  min-height: 520px;
  max-height: 560px;
}

.content-sale {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p-sale-1 {
  font-size: 20px;
  font-weight: 400;
}
.p-sale-2 {
  font-size: 32px;
  font-weight: 600;
}

.box-time {
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  background-color: #ff8c00;
  cursor: pointer;
}

#days,
#hours,
#minutes,
#seconds {
  font-size: 24px;
  font-weight: 600;
}

.text-sale {
  font-size: 10px;
}

/* parallax */

.section-para {
  width: 100%;
  height: auto;
  padding: 50px 0px 0px 0px;
}

.para {
  width: 100%;
  height: auto;
}

.parallax-container {
  background: url("../img/scroll-1.jpg") repeat fixed 100%;
  background-size: cover;
  color: aliceblue;
}

.parallax-content {
  padding-top: 10%;
  padding-bottom: 10%;
}

.text-orange {
  color: #ff8c00;
  font-size: 55px;
  margin-left: 20px;
}

.counter {
  font-size: 64px;
  font-weight: 400;
}

.counter-creative-title {
  font-size: 20px;
  font-weight: 400;
}

.symbol {
  font-size: 64px;
  font-weight: 400;
}

/* abouthome */

.abouthome {
  padding: auto;
  margin: auto;
  width: 100%;
  height: max-content;
}

.content-abouthome {
  padding: 20px;
}

.text-content-ab-1 {
  font-family: "Mali";
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #006400;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text-content-ab-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.text-content-ab-3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.text-next-ab-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text-next-ab-2 {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.i-ab {
  font-size: 25px;
  color: white;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icon-next-ab {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 59.82px;
  height: 59.32px;
  background: #e52029;
  border-radius: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.content-abouthome {
  width: max-content;
  margin: 0 auto;
  padding: auto;
}

.img-abouthome {
  margin: 0 auto;
  width: max-content;
}

.next-about {
  padding-top: 10px;
  width: max-content;
  margin: 0 auto;
}

.icon-next-ab:hover {
  background-color: orange;
  transition: all 0.3s linear;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .content-abouthome {
    width: 50%;
  }

  .img-abouthome {
    width: 50%;
  }
  .text-left {
    text-align: left;
  }
  .next-about {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}

/* comment home */

.section-cmthome {
  padding: 0;
  height: max-content;
  width: 100%;
  overflow: hidden;
}

.section-slider-cmt-home {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 75%;
}

.slider-home {
  width: 100%;
  height: 90%;
  background: white;
  margin-top: 4%;
  border-top: 2px solid #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px;
}

.cmt-home .section-slider-cmt-home .slider-home .slick-prev {
  display: none !important;
}
.cmt-home .section-slider-cmt-home .slider-home .slick-next {
  display: none !important;
}

.cmt-home .section-slider-cmt-home .slider-home .slick-dots {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 60px);
  display: flex !important;
  align-items: center;
  gap: 0 20px;
  padding-right: 32px !important;
}

.cmt-home .section-slider-cmt-home .slider-home .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.cmt-home
  .section-slider-cmt-home
  .slider-home
  .slick-dots
  .slick-active
  button {
  background-color: rgba(128, 128, 128, 0.674);
}

.cmt-home .section-slider-cmt-home .slider-home .slick-dots li {
  list-style-type: none;
}
.img-cmt {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.bg-cm-home-1 {
  width: 95%;
  border-top: 2px solid #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  height: 50%;
  background-color: white;
  left: 50%;
  transform: translate(-50%, -9%);
  top: 9%;
}

.tittle-cmt {
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  left: 50%;
  transform: translate(-50%);
  top: 1%;
}

.box-cmt {
  padding: 20px;
  height: 100%;
  margin-top: 1.3%;
}

.box-cmt img {
  margin: 0 auto;
  border-radius: 50%;
}

.text-cmthome-1 {
  font-size: 14px;
  font-weight: 400;
}

.text-cmthome-2 {
  font-size: 14px;
  font-weight: 500;
}

.text-cmthome-3 {
  font-size: 12px;
  font-weight: 300;
  color: rgba(128, 128, 128, 0.705);
}

@media screen and (min-width: 576px) {
  .img-cmt {
    height: 550px;
  }
  .text-cmthome-1 {
    font-size: 16px;
    font-weight: 400;
  }

  .text-cmthome-2 {
    font-size: 16px;
    font-weight: 500;
  }

  .text-cmthome-3 {
    font-size: 14px;
    font-weight: 300;
    color: rgba(128, 128, 128, 0.705);
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .img-cmt {
    height: 600px;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}

/* partners */

.section-partners {
  padding: 20px 20px 30px 20px;
  width: 100%;
  background-color: #f1efeb;
  height: max-content;
}

.title-partners {
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  top: 5px;
  text-align: center;
}

.partners {
  margin-top: 40px;
}

.partner img {
  margin: 0 auto;
  opacity: 0.6;
}

.partner img:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.slider-partners {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.slider-partners .slick-prev {
  display: none !important;
}
.slider-partners .slick-next {
  display: none !important;
}
