.font-Arial {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}

.font-Verdana {
  font-family: Verdana, sans-serif;
}

.font-sarabun {
  font-family: "Sarabun", sans-serif;
}

.font-Mulish {
  font-family: "Mulish", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Sarabun", sans-serif;
}

font-btn {
  font-family: "Source Sans Pro", sans-serif;
}

.text-black {
  color: black;
}
.text-brown {
  color: brown;
}

.text-blue {
  color: mediumblue;
}

.text-red {
  color: red;
}

.text-crimson {
  color: crimson;
}

.text-white {
  color: white;
}

.decoration-none {
  text-decoration: none;
}

body {
  padding: 32px 32px 32px 32px;
  margin-top: 100px;
  margin-left: 200px;
  border: 1px solid #f1f1f1;
  width: 1000px;
}

.div {
  display: block;
}

.button-pre {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 19px 10px 19px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #04aa6d;
  font-weight: 550;
  text-decoration: none;
}

.button-pre:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.button-pre:hover {
  background-color: #3e8e41;
}

.button-next {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 19px 10px 19px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #04aa6d;
  font-weight: 550;
  float: right;
  text-decoration: none;
}

.button-next:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.button-next:hover {
  background-color: #3e8e41;
}

.p-span {
  background-color: rgba(222, 222, 222, 0.3);
  padding-left: 4px;
  padding-right: 4px;
  max-width: max-content;
  position: relative;
  line-height: 1.6;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
}

.example {
  background-color: #e7e9eb;
  border-radius: 5px;
  padding: 1px 20px 20px 20px;
}

.code {
  border-left: 4px solid #04aa6d;
  background-color: white;
  padding: 12px 12px 12px 12px;
  line-height: 1.4;
}

.table-text {
  margin: 20px 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
  text-indent: initial;
  font-size: 15px;
  line-height: 1.5;
}

.table-text td,
th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
  padding-left: 16px;
}

.tr-gray {
  background-color: #ccc;
}

.note {
  background-color: #ffffcc;
  padding: 20px 20px 20px 20px;
}
.line-h {
  line-height: 3;
}

.text-shadow-red {
  text-shadow: 2px 2px 5px red;
}

.text-shadow-black-red {
  text-shadow: 0 0 3px #FF0000;
}

.text-shadow-white-blue {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.text-shadow-red-blue{
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
