@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.carousel-inner img {
  width: 48%;
  border-radius: 10px;
  margin: 5px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.carousel-inner img:hover {
  opacity: 0.6;
}

header {
  background-color: black;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #2e2e38;
}

.icon {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.icon-1 {
  position: relative;
}

.i {
  color: gray;
}

.icon:hover {
  opacity: 0.5;
}

.bar {
  color: gray;
  font-size: 28px;
  cursor: pointer;
}

.navbar {
  background: rgb(46, 46, 56);
  background: linear-gradient(
    84deg,
    rgba(46, 46, 56, 1) 55%,
    rgba(79, 65, 47, 1) 100%,
    rgba(255, 166, 0, 1) 100%
  );
}

.favorite {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  color: aliceblue;
  width: 20px;
  height: 15px;
  text-align: center;
  bottom: 20px;
  left: 20px;
}

.favorite p {
  font-size: 12px;
  margin-top: -2px;
}

.h-text {
  padding-top: 10px;
  font-size: 18px;
  text-transform: uppercase;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    277deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 65%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hr {
  margin-top: -30px;
}

.img-md,
.img-lg {
  display: none;
}

.new img {
  border-radius: 10px;
  margin-bottom: 10px;
}

.new {
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  height: 100%;
}

.list-new {
  padding: 5px;
}

.name-new {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(6, 6, 6, 0.55) 30%,
    rgba(0, 0, 0, 0.92) 100%
  );
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  color: white;
  font-size: 15px;
  padding-left: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.number-new {
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  background: rgb(71, 132, 19);
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    #8e2de2 0%,
    #000046 51%,
    #1cb5e0 100%
  );
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
  margin-left: 10px;
  height: 30px;
  width: fit-content;
}

.new:hover .number-new {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    277deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(172, 48, 129, 1) 20%,
    rgba(187, 45, 111, 1) 27%,
    rgba(193, 43, 103, 1) 30%,
    rgba(207, 40, 85, 1) 37%,
    rgba(224, 36, 65, 1) 45%,
    rgba(253, 29, 29, 1) 59%,
    rgba(252, 176, 69, 1) 100%
  );
}

.img-thumbnail-new img:hover {
  transform: scale(1.2);
}

.img-thumbnail-new img {
  transition: 0.3s ease-in-out;
}

.img-thumbnail-new {
  overflow: hidden;
  max-height: 96%;
  border-radius: 10px;
}

.day-item {
  border-radius: 5px;
  background-color: #2e2e38c6;
  color: white;
  margin: 5px;
  width: 45%;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}

.day-item:hover {
  opacity: 0.6;
}

.xemthem {
  border-radius: 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    130deg,
    rgba(0, 0, 0, 1) 29%,
    rgba(255, 165, 0, 1) 100%
  );
  color: white;
  cursor: pointer;
  width: fit-content;
  float: right;
  padding: 2px 10px 0 10px;
  height: 30px;
}

.xemthem:hover {
  background: #000046bf;
}

.day {
  margin-bottom: 10px;
}

.more:hover .img-more img {
  transform: scale(1.2);
}

.img-more img {
  transition: 0.3s ease-in-out;
}

.img-more {
  overflow: hidden;
}

.more {
  width: 100%;
  min-height: 100%;
  cursor: pointer;
  height: 100%;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}

.img-more {
  width: 20%;
  max-height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.title-more {
  background-color: #2e2e38;
  width: 80%;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.more:hover .title-more p {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    277deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(172, 48, 129, 1) 20%,
    rgba(187, 45, 111, 1) 27%,
    rgba(193, 43, 103, 1) 30%,
    rgba(207, 40, 85, 1) 37%,
    rgba(224, 36, 65, 1) 45%,
    rgba(253, 29, 29, 1) 59%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.more:hover .title-more {
  background-color: rgba(128, 128, 128, 0.54);
}

.title-footer {
  background-color: #2e2e38;
  color: white;
  padding: 20px;
}

.ii {
  color: white;
}

.back {
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.iiii {
  font-size: 20px;
  color: white;
}

.sun:hover {
  background-color: white;
}

.sun:hover .iiii {
  color: black;
}

.sun {
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  position: fixed;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border: none;
}

.dark {
  background-color: black;
}

.menu {
  display: none;
  max-height: 100%;
  height: 100%;
  margin-top: -7px;
  margin-bottom: -8px;
  margin-left: -30px;
}

.menu li a {
  text-decoration: none;
  color: #d0d0d0;
}

.menu li {
  padding: 15px;
  list-style-type: none;
  height: 100%;
  margin-bottom: -16px;
}

.menu li:hover {
  text-shadow: 2px 2px 5px orange;
  background-color: rgba(128, 128, 128, 0.567);
}

.back:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .img-md {
    display: block;
  }

  .carousel-inner img {
    width: 32%;
  }

  .day-item {
    width: 12.7%;
  }
}

@media screen and (min-width: 1200px) {
  .img-lg {
    display: block;
  }

  .carousel-inner img {
    width: 24%;
  }

  .menu {
    display: block;
  }

  .bar {
    display: none;
  }

  .navbar-right {
    display: none;
  }

  .seciton-more {
    margin-left: 20px;
  }
}

.day p {
  font-size: 15px;
}

.bg-black {
  background-color: black;
}

.title-footer {
  height: 100%;
}
